
    <meta name="viewport" content="width=device-width" />
    <h1>Movie Search</h1><br />
    @if(ViewBag.ErrorMessage!=null)
    {
    <h3> @ViewBag.ErrorMessage</h3>
    }

        <form action="~/Home/MoviesDB" method="get">
            @*change from get to post later*@
            <input type="text" name="Title" placeholder="Exact title" class="form-control" /><br />
            <input type="submit" name="Search" class="btn-sm" />
        </form>
<br />
        <form action="~/Home/SearchResult" method="get">
            @*change from get to post later*@
            <input type="text" name="Search" placeholder="Search" class="form-control" /><br />
            <input type="submit" name="Search" class="btn-sm" />
        </form>
