<h2>Movie Search</h2>

    <form action="~/Home/MoviesDB" method="get">
        @*change from get to post later*@
        <p>Title <input type="text" name="Title"/></p>
        <input type="submit" name="Search"/>
    </form>